.conteiner {
    grid-area: cabecalho;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.titulo {
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 300;
}

.icone {
    color: var(--azul-claro);
    font-size: 2rem;
    margin-right: 10px;
}

.navegacao {
    display: flex;
    gap: 10px;
}

.botao {
    background-color: transparent;
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    background-color: var(--azul-claro);
    color: var(--cinza-escuro2);
}

.link {
    color: var(--branco);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--azul-claro);
}

.dropbtn {
    background-color: transparent;
    color: var(--branco);
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

