:root {

    --preto: #000;
    --branco: #fff;
    --cinza-claro: #f0f0f0;
    --azul-escuro: #000d25;
    --azul-claro: #BCDDFD;
    --roxo: #A283C8;
    --blur: #000000b3;
    --roxo-pastel: #B2A4FF;
    --azul-pastel: #ABD4FC;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body,
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--cinza-escuro2);
}

::-webkit-scrollbar-thumb {
    background: var(--azul-claro);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cinza-escuro1);
}